p {
    color: #002166;
}

.highlight {
    background-color: #d6e3ff;
}
#special {
    font-weight: bold;
    color: red;
}
img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}
