p {
    color: #002166;
}

.highlight {
    background-color: #a7bbe2;
}
#special {
    font-weight: bold;
}
img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}
